<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel" parallel="tests" thread-count="2" data-provider-thread-count="2">

 <listeners>
        <listener class-name="com.browserstack.examples.utils.BrowserstackTestStatusListener"/>
    </listeners>
    
	<test name="Samsung Galaxy S21">
		<parameter name="env_cap_id" value="0" />
		<parameter name="testType" value="parallel" />
		<classes>
			<class
				name="com.browserstack.examples.tests.RunAppiumCucumberTests" />
		</classes>
	</test>
	<test name="iPhone 12 Pro">
		<parameter name="testType" value="parallel" />
		<parameter name="env_cap_id" value="1" />
		<classes>
			<class
				name="com.browserstack.examples.tests.RunAppiumCucumberTests" />

		</classes>
	</test>
</suite>
